@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  height: 100vh;
  margin: 0;
}

.container {
  height: 100%;
}

header {
  text-align: center;
  color: #fff;
  font-size: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.lnb-inner,
.gnb-inner {
  transition: 0.5s;
}

header.active .lnb-inner {
  /* display: none; */
  height: 0;
}

header.active .gnb-inner {
  background-color: #fff;
  color: #000;
  box-shadow: 0 3px 3px #000;
}

.lnb-inner {
  background-color: crimson;
  height: 30px;
  line-height: 30px;
}

.gnb-inner {
  background-color: black;
  height: 80px;
  line-height: 80px;
}

section p {
  color: #ddd;
  font-size: 3em;
  line-height: 1em;
}

.btn-top {
  width: 50px;
  height: 50px;
  opacity: 0;
  right: 20px;
  bottom: 20px;
  color: #fff;
  font-size: 30px;
  position: fixed;
  transition: 0.3s;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  background-color: crimson;
  transform: translateY(100px);
}

.btn-top.active {
  opacity: 1;
  transform: translateY(0);
}