 /* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); 
 /* reset CSS */
a{
  text-decoration: none;
  color: #222;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
button{
  cursor: pointer;
  outline: none;
}
body{
  margin: 0;
  height: 100vh;
}
section{
  display: flex;
}
.media{
  /* border: 1px solid black; */
  width: 600px;
  background-color: gainsboro;
  margin-right: 10px;
  display: flex;
  box-sizing: border-box;
}
.media img{
  padding: 10px;
  width: 100px;
  height: 100px;
  float: left;
  flex: 2;
}
.media-body{
  flex: 5;
}
.media h3{
  padding: 10px 0 0 0;
}
.media p{
  font-size: 15px;
}
/* 모바일 환경 */
@media screen and (max-width:767px) {
  .media{
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
    flex-direction: column;
  }
  section{
    flex-direction: column;
  }
  .media img{
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .media h3{
    padding: 0 0 0 10px;
  }
  .media p{
    padding: 0 0 0 10px;
  }
}
/* 태블릿 환경 */
@media (min-width:768px) and (max-width:1024px) {
  .media{
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }
  section{
    flex-direction: column;
  }
  .media img{
    width: 50%;
    height: 50%;
  }
}